image:
  repository: shishirshetty77/kubesentinel
  pullPolicy: IfNotPresent
  tag: "latest"

serviceAccount:
  create: true
  name: "kubesentinel-sa"

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
